<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <!-- ````````````````````````````````````````````````` -->
    <!--                Conversion Rule                    -->
    <!-- ````````````````````````````````````````````````` -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <!-- ````````````````````````````````````````````````` -->
    <!--                PROPERTY SETTING                   -->
    <!-- ````````````````````````````````````````````````` -->
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){green} %clr([level=%-5level traceId=%X{traceId} spanId=%X{spanId}]) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <property name="CONSOLE_LOG_CHARSET" value="${CONSOLE_LOG_CHARSET:-default}"/>

    <property name="LOG_PATH" value="logs"/> <!-- 로그 경로 (Logback 은 환경 번수 적용 불가) -->
    <property name="DATE_DIR" value="%d{yyyy-MM-dd}"/>

    <!-- ````````````````````````````````````````````````` -->
    <!--                APPENDER SETTING                   -->
    <!-- ````````````````````````````````````````````````` -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <fileNamePattern>${LOG_PATH}/${DATE_DIR}/application.%i.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread]
                [level=%-5level traceId=%X{traceId} spanId=%X{spanId}]
                %logger{35}[%line] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- ````````````````````````````````````````````````` -->
    <!--                 Logger Setting                    -->
    <!-- ````````````````````````````````````````````````` -->
    <springProfile name="local">
        <logger name="root" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.flywaydb" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="baguni" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="p6spy" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="dev">
        <logger name="root" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>
        <logger name="org.flywaydb" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>
        <logger name="baguni" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>
        <logger name="p6spy" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <logger name="org.flywaydb" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>
        <logger name="baguni" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>
        <!--  SQL 로깅 X  -->
    </springProfile>

</configuration>