---
spring:
  profiles:
    include:
      - domain
      - common
  application:
    name: baguni.${PROFILE_MODE}.server.batch
---
spring:
  config:
    activate:
      on-profile: local
server:
  port: 8081
---
spring:
  config:
    activate:
      on-profile: dev
server:
  port: 8080
---
spring:
  config:
    activate:
      on-profile: prod
server:
  port: 8080